.hero-head-margin {
    margin-top: 15%;
}

.bottom-space {
    margin-bottom: 5%;
}

.main-title {
    margin-top: 3%;
    margin-bottom: 3%;
}

.align-table-vert * {
    vertical-align: middle;
}

.a-little-space {
    margin-right: 1%;
}